Flask
python-dotenv  # For managing environment variables via .flaskenv and .env
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
# mysqlclient # Switched to PyMySQL
PyMySQL
Flask-JWT-Extended
gunicorn # Added Gunicorn for production server
# Add other dependencies here as we need them, e.g.:
pyAirtable